{block content}

<h1>Upravit příspěvek</h1>

{snippet content}

{control postForm}

{if $post->image == null}
{php echo "Není dostupný obrázek." }

{else}

<img class="img-fluid" src="{$basePath}/{$post->image}">

<p> <a n:href="deleteImage! $post->id" class="ajax"> Smazat obrázek </a> </p>

{/if}

<p> <a n:href="deletePost! $post->id"> Smazat příspěvek </a> </p>

{/snippet}

{/block}